/* Write your CSS here */
.Footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #cbd5e1;
  color: #475569;
  font-size: 22px;
  font-weight: bold;
}
